.wordaddict-footer {
  background-color: #eee;
  padding: 4rem 0;
  margin: 2rem 0 0;
  color: #555;
  font-size: 1rem;
}

.footer-container {
  max-width: 980px;
  margin: auto;
  padding: 0 2rem;
}
