@import "../components/wa-logo";
@import "../components/issue-header";

@media (min-width: 500px) {
  .issue-header-summary-text {
    padding-left: 2rem;
    width: 100%;
  }
}

.single-issue-content {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1.5rem;

  @media (min-width: 600px) {
    margin: 5rem auto;
    padding: 0 5rem;
  }
}

.intro-riddle {
  font-family: $fancy-font;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.intro-riddle::first-letter {
  font-size: 4rem;
  float: left;
  padding-right: 1rem;
}

@media (min-width: 600px) {
  .intro-riddle {
    font-size: 1.7rem;
  }

  .intro-riddle::first-letter {
    font-size: 6rem;
  }
}

@media (min-width: 800px) {
  .intro-riddle {
    font-size: 2rem;
  }
}
