# Application
www/app/plugins/*
!www/app/plugins/.gitkeep
www/app/mu-plugins/*/
www/app/upgrade
www/app/uploads/*
!www/app/uploads/.gitkeep

# WordPress
www/wp
www/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Misc
.vscode