# Application
app/plugins/*
!app/plugins/wordaddict
app/upgrade
app/uploads/*
!app/uploads/.gitkeep

app/themes/*
!app/themes/wordaddict

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep

# Misc
.vscode