.latest-issue {
  background-color: rgb(90, 90, 90);
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 5%;
  position: relative;
}

.latest-issue-content {
  max-width: 1080px;
  margin: auto;
}

.latest-issue-h2 {
  color: #fff;
  margin-bottom: 0;
}

.latest-issue-release {
  color: rgba(255, 255, 255, 0.8);
}

.latest-issue-image {
  display: none;
}

.latest-issue-teaser {
  font-size: 1rem;
}

.latest-issue a {
  color: #fff;
}

.latest-issue a:hover {
  color: #fff;
}

@media (min-width: 600px) {
  .latest-issue-image {
    display: block;
  }

  .latest-issue-content {
    display: flex;
    align-items: center;
  }

  .latest-issue-teaser {
    padding-left: 2rem;
  }
}

@media (min-width: 800px) {
  .latest-issue-teaser {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .latest-issue {
    padding: 60px;
  }

  .latest-issue-teaser {
    font-size: 1.4rem;
  }
}
