.zine-header {
  font-family: $fancy-font;
  font-size: 13vw;
  text-align: center;
  letter-spacing: -0.2rem;
}

@media (min-width: 440px) {
  .zine-header {
    letter-spacing: -0.4rem;
  }
}

@media (min-width: 1100px) {
  .zine-header {
    letter-spacing: -0.7rem;
    font-size: 9rem;
  }
}
