.issue-header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  padding: 5rem 0 2rem;
}

@media (min-width: 500px) {
  .issue-header {
    height: 100vh;
  }
}

.issue-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0));
  z-index: 1;
}

.issue-header-summary {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media (min-width: 500px) {
  .issue-header-summary {
    display: flex;
    align-items: center;
    text-align: left;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 2;
  }
}

.issue-header-summary-text {
  text-shadow: #000 0 0 15px;
}

.issue-header-name {
  font-size: 3rem;
  line-height: 4rem;
  font-family: $fancy-font;
  margin-bottom: 0;
  font-weight: 700;
}

.issue-header-name small {
  display: block;
  font-weight: 200;
  font-size: 1.5rem;
  margin-bottom: -1rem;
  font-family: sans-serif;
}
