.btn {
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
}

.btn-white {
  color: #fff;
  line-height: 6rem;
  font-weight: normal;
  transition: background-color 0.3s;
}

.btn-white:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}
